* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: white !important;
}

.swiper-button-next {
    right: 0px;
}
.swiper-button-prev {
    left: 0px;
}

.vjs-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    height: 9px;
    width: 9px;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: #304be0;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.swiper-button-next,
.swiper-button-prev {
    margin: 0 !important;
    width: 40px !important;
    height: 40px !important;
    background: linear-gradient(90deg, #50B3F9 0%, #667CF7 100%) !important;    
    border-radius: 50%;
    padding: 20px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.1);
    transform: none !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;    
    background: #304BE01A !important;
    box-shadow: none !important;    
}


.swiper-button-disabled {
    opacity: 0.5 !important;
    
}

.swiper-button-disabled::after {
    color: black !important;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: linear-gradient(90deg, #50B3F9 0%, #667CF7 100%) !important;
    opacity: 1 !important;
}

.swiper-button-bg-color-white {
    background: #fff !important;
}
.swiper-button-bg-color-white:hover {
    background: #fff !important;
}

.swiper-button-bg-color-white::after {
    color: black !important; 
}

@media (max-width: 600px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 25px !important;
        height: 25px !important;
        padding: 12px !important;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 12px !important;
    }
}



.user-slider {
    position: static !important;
}

.custom-scrollbar {
    overflow-x: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.custom-phone-input {
    height: 100% !important;
    width: 100% !important;
    padding: 17.5px 14px 17.5px 50px !important;
    border-radius: 10px !important;
    font-size: 1rem !important;
    line-height: 1.4375em !important;
}

.custom-phone-input::placeholder {
    color: #96999f !important;
}

.custom-phone-input:hover {
    border-color: black !important;
}

.custom-phone-input:focus {
    outline: 2px solid #73c371 !important;
    border-color: transparent !important;
    outline-offset: -1px;
}

.custom-phone-input-error {
    height: 100% !important;
    width: 100% !important;
    padding: 17.5px 14px 17.5px 50px !important;
    border-radius: 10px !important;
    font-size: 1rem !important;
    line-height: 1.4375em !important;
    border-color: #ee3d48 !important;
}

.custom-phone-input-error:focus {
    outline: 2px solid #ee3d48 !important;
    border-color: transparent !important;
    outline-offset: -1px;
}

.custom-phone-input-button {
    background-color: transparent !important;
    border: none !important;
    padding-left: 6px !important;
}

.custom-phone-input-button .selected-flag {
    background-color: transparent !important;
}

.custom-phone-input-dropdown {
    border-radius: 10px !important;
    margin: 0px 0px !important;    
    left: 0;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08) !important;
    padding: 4px 0px !important;
    li {
        padding: 6px 14px !important;
    }
}

.PhoneInput {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 15.5px 14px;
    border-radius: 10px;
    input {
        border: none;
        font-size: 1rem;
        line-height: 1.4375em;
    }
    input:focus-visible {
        outline: none;
    }
    input::placeholder {
        color: #96999f;
    }
}

.PhoneInput--focus {
    outline: 2px solid #73c371 !important;
    border-color: transparent !important;
    outline-offset: -1px;
}

.PhoneInputCountrySelect {
    width: 100%;
}

